@media screen and (min-width: 1200px) and (max-width: 1600px) {
  .current {
    color: rgba(64, 75, 191, 1);
    position: relative;
  }
  .current::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background: #404bbf;
    border-radius: 2px;
    bottom: -28px;
    left: 0;
    position: relative;
  }
  /* mobile menu not */
  .mobile-menu {
    display: none;
  }
  .header-btn-mobile {
    display: none;
  }
  /* -----------HEADER-------- */
  .header .container-sm {
    max-width: 1158px;
  }
  .header-content {
    display: flex;
    padding-top: 24px;
    padding-bottom: 28px;
  }
  .logo-link {
    margin-right: 76px;
  }
  .header-btn-mobile {
    display: none;
  }
  .header-contacts-wrap {
    display: flex;
    margin-left: auto;
    gap: 332px;
  }
  .header-nav {
    display: flex;
  }
  .header-list {
    display: flex;
    gap: 40px;
  }
  .header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-link:is(:hover, :focus) {
    color: var(--active-color);
  }
  .contacts-list {
    display: flex;
  }
  .contacts-link {
    color: var(--primary-text-color);
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-link:is(:hover, :focus) {
    color: var(--active-color);
  }
  .mail {
    margin-right: 40px;
  }

  /* ----------Section hero---------- */
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/people-office-bg-deks2x.jpg');
    }
  }
  .hero .container {
    min-width: 1158px;
  }
  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 48px;
    text-align: center;
  }
  .hero-button {
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .hero-button:is(:hover, :focus) {
    background-color: var(--active-color);
  }

  /*---------Section Features------- */
  .features {
    padding-top: 120px;
    padding-bottom: 60px;
  }
  .features .container-sm {
    max-width: 1158px;
  }
  .features-list {
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .features-item {
    width: calc((100% - 72px) / 4);
  }
  .features-rect {
    background-color: #f4f4fd;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    margin-bottom: var(--secondary-margin);
  }
  .features-subtitle {
    font-weight: 500;
    color: var(--title-text-color);
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: var(--secondary-margin);
  }
  .features-text {
    font-weight: 400;
  }
  /*------------ Section Work --------------*/
  .work {
    display: block;
    padding-top: 60px;
    padding-bottom: 120px;
  }
  .work .container {
    max-width: 1158px;
  }
  .work-title {
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 72px;
  }
  .work-list {
    display: flex;
    gap: 24px;
  }

  /* -------Section Team--------- */
  .team {
    padding: 120px 0;
  }
  .team .container {
    max-width: 1158px;
  }
  .team-list {
    gap: 24px;
  }
  .team-item {
    max-width: calc((100% - 72px) / 4);
  }
  .team-social-link {
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .team-social-link:is(:hover, :focus) {
    background-color: var(--active-color);
  }

  /* ---------Section Customers--------- */
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .customers .container-sm {
    max-width: 1158px;
  }
  .customers-logo-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-content: center;
  }
  .customers-logo-item {
    width: calc((100% - 144px) / 6);
  }
  .customers-logo-link {
    transition-property: color, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .customers-logo-link:is(:hover, :focus) {
    color: var(--active-color);
    border-color: var(--active-color);
  }

  /* ----------------footer----------- */
  .footer {
    padding-top: 100px;
    padding-bottom: 130px;
  }
  .footer .container-sm {
    max-width: 1158px;
  }
  .footer-container {
    display: flex;
    flex-direction: row;
  }
  .footer-info {
    margin-right: 120px;
    min-width: 264px;
  }
  .footer .logo-link {
    text-align: start;
  }
  .footer-social-media {
    margin-right: 80px;
  }
  .footer-title {
    text-align: start;
  }
  .footer-social-link {
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-social-link:is(:hover, :focus) {
    background-color: #31d0aa;
  }
  .footer-subscribe-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  .subscribe-input {
    min-width: 264px;
    transition-property: border-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .subscribe-input:is(:hover, :focus) {
    border-color: #4d5ae5;
  }
  .subscribe-btn {
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .subscribe-btn:is(:hover, :focus) {
    background-color: var(--active-color);
    outline: transparent;
  }
  .subscribe-icon {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal {
    max-width: 408px;
  }
}
